{{#each blogs as |blog| }}
<div class="row mb-4 blog" style="background: rgba(75, 249, 249, 0.6)">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>
      {{blog.description}}
    </p>
    <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}